{% extends "AppJuegos/padre.html" %}

{% load static %}
{% block titulo %}
        Juego
{% endblock %}
<!--Bloque modificable para el menu-->
{% block menuModificable %}

<li> <a href="{% url 'Blog' %}">Home</a></li>
<li class="active"> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>  

{% endblock %}

{% block contenidoModificable %}

    <section class="space-pt">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="position: absolute; top: 15%; left: 15%;">
                    
                    <h1 style="color: white">{{ juego.nombre }}</h1>
                    <h3 style="color: white">Compañía: <p style="color: white" class="mb-4 justify">{{juego.compania}}</p> </h3> 
                    <h3 style="color: white">Fecha de lanzamiento: <p style="color: white" class="mb-4 justify">{{juego.fechaLanzamiento}}</p> </h3> 
                    <h3 style="color: white">Copias creadas: <p style="color: white" class="mb-4 justify">{{juego.copiasCreadas}}</p> </h3> 
                    <h3 style="color: white">Género: <p style="color: white" class="mb-4 justify">{{juego.genero}}</p> </h3> 
                    <button  class="button_login" style="width:100px"><a href="{% url 'ListaJuegos' %}" style="color: white;">Regresar</a></button> 
                </div>
            </div>
        </div>
    </section>

{% endblock %}