{% extends "AppJuegos/padre.html" %}

{% load static %}

{% block titulo %}
Eliminar Juego
{% endblock %}

{% block menuModificable %}

<li> <a href="{% url 'Blog' %}">Blog</a></li>
<li class="active"> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>  

{% endblock %}

{% block contenidoModificableLogo %}

<FONT SIZE=7 style="color: white; position: absolute; top: -20px; left: -80px;">Eliminar Juego {{ juego.nombre }}</FONT>
{% endblock %}

{% block contenidoModificable %}

<section class="space-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="position: absolute; top: 15%; left: 15%;">
                <div class="form-group">
                <form method="post">
                    {% csrf_token%}
                    <h1 style="color: white">¿Esta seguro que desea eliminar el juego?</h1>
                    <br>
                    <button class="button_login" style="color: white; width:100px">Confirmar</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}