{% extends "AppJuegos/padre.html" %}

{% load static %}
{% block titulo %}
        Listado de juegos
{% endblock %}
<!--Bloque modificable para el menu-->
{% block menuModificable %}

<li> <a href="{% url 'Blog' %}">Home</a></li>
<li class="active"> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>  

{% endblock %}

{% block login%}
<div class="img-circular">
    <img height="40px" src="{{url}}" />
    <h3 style="color: white; position:absolute; top:15%; left:60%">Hola, {{user.username}}</h3>
</div>
{% endblock %}


{% block contenidoModificable %}



{% if object_list %}

<ul style="position:absolute; top: 30%; left: 20%">
{% for j in object_list %}
    <li><a href="{% url 'DetalleJuego' j.id %}" style="color:white"><FONT SIZE=5>{{ j.nombre }}</FONT></a>
    {% if user.is_authenticated %}
    <a style="color:lightblue" href="{% url 'EditarJuego' j.pk %}">Editar</a> 
    <a style="color:lightblue" href="{% url 'EliminarJuego' j.pk %}">Eliminar</a>
    {% endif %}
    <br>

{% endfor %}



</ul>

<div style="position:absolute; top: 90%; left: 20%" class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" style="color:lightgray">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" style="color:lightgray">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" style="color:lightgray">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" style="color:lightgray">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<li><FONT SIZE=4 style="color: white; position: absolute; top: 200px; left: 350px" >No se encontraron juegos</FONT></li>
{% endif %}


<form action="/AppJuegos/juego/buscar" method="GET" style="position:absolute; top: 15%; left: 20%">
    <h3 style="color: white;">Buscar juegos por nombre</h3>
    <input type="text" name="nombre" id="nombre" style= "width: 260px; height:auto;">
    <button class="button_login" type="submit" style="color: white; width:auto; height:auto">Buscar</button>


</form>

{% endblock %}