{% extends "AppJuegos/padre.html" %}

{% load static %}

{% block menuModificable %}

<small><br/></small>
<li> <a style="text-align: left;" href="{% url 'Blog' %}">Home</a></li>
<li class="active"> <a style="text-align: left;" href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a style="text-align: left;" href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a style="text-align: left;" href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a style="text-align: left;" href="{% url 'About' %}">About</a> </li>  
{% if user.is_authenticated %}   
<li> <a style="text-align: left;" href="{% url 'CrearPost' %}">Crear Post</a> </li>  
{% endif %}  

{% endblock %}

{% block contenidoModificable %}
<section class="space-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="position: absolute; top: 15%; left: 15%;">
                <div class="form-group">
                <form method="post">
                    {% csrf_token%}
                    <br>
                    {{ form.as_p}}
                    <br>
                    <button class="button_login" style="color: white; width:110px">Agregar</button> <button class="button_login" style="color: white; width:110px"><a href="{% url 'ListaJuegos' %}" style="color: white;">Cancelar</a></button>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}