{% extends "AppJuegos/padre.html" %}

{% load static %}

<!--Bloque modificable para el menu-->
{% block menuModificable %}
<li> <a href="{% url 'Blog' %}">Home</a></li>
<li class="active"> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>
{% endblock %}


<!--Bloque modificable para formularios y busqueda-->
{% block contenidoModificable %}
<FONT SIZE=6 style="color: white; position: absolute; top: 120px; left: 300px;">Juegos encontrados</FONT>

{% if juegos %}

<ul style="position: absolute; top: 200px; left: 350px;" id="id01">
{% for j in juegos %}
    <li><a href="{% url 'DetalleJuego' j.id %}" style="color:white"><FONT SIZE=4>{{ j.nombre }}</FONT></a></li>
    <!--<li><FONT SIZE=4 style="color: white">{{j.nombre}}</FONT></li>-->
    <br>

{% endfor %}
</ul>

{% else %}
<li><FONT SIZE=4 style="color: white; position: absolute; top: 200px; left: 350px;" >No se encontraron juegos</FONT></li>
{% endif %} 
{% endblock %}