{% extends "AppJuegos/padre.html" %}

{% load static %}

<!--Bloque modificable para el menu-->
{% block menuModificable %}

<li class="active"> <a href="{% url 'Blog' %}">Home</a></li>
<li> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>  

{% endblock %}

{% block login%}
<div class="img-circular">
    <img height="40px" src="{{url}}" />
    <h3 style="color: white; position:absolute; top:15%; left:60%">Hola, {{user.username}}</h3>
</div>
{% endblock %}


{% block contenidoModificable %}
<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
    <div class="text-img">
       <figure><img src="{% static '/AppJuegos/images/img.png' %}" alt="#"/></figure>
    </div>
</div>


<section class="space-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="position: absolute; top: 15%; left: 15%;">
                <p style="color: white" class="mb-4 justify">
                    <ul>
                        {% if user.is_authenticated %}
                        <li class="button_login" style=" width:100px"> <a style="color: white" href="{% url 'CrearPost' %}">Crear Post</a> </li>
                        
                        {% endif %}

                        {% for post in object_list %}
                        </br>
                        </br>

                        <small> {{ post.fecha }}</small>
                        <li><a href="{% url 'PostCompleto' post.pk %}" style="color:white">{{ post.titulo }}</a> - Por: {{post.autor.first_name}} {{post.autor.last_name}} - <small><a style="color:lightblue" href="{% url 'EditarPost' post.pk %}">Editar</a></small> - <small><a style="color:lightblue" href="{% url 'EliminarPost' post.pk %}">Eliminar</a></small><br/>
                         {{post.subtitulo}}<br/><br/> </li>
                         {% endfor %}
                    </ul>
                </p> 
            </div>
        </div>
    </div>
</section>

{% endblock %}