{% extends "AppJuegos/padre.html" %}

{% load static %}

{% block titulo %}
        Nuevo Post
{% endblock %}

{% block menuModificable %}

<li class="active"> <a href="{% url 'Blog' %}">Blog</a></li>
<li> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>  

{% endblock %}

{% block contenidoModificableLogo %}

<FONT SIZE=6 style="color: white; position: absolute; top: 20px; left: -80px;">Nuevo Post</FONT>
{% endblock %}

{% block contenidoModificable %}

<section class="space-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="position: absolute; top: 15%; left: 15%;">
                <div class="form-group">
                    <form method="post">
                    {% csrf_token%}
                    {{ form.as_p}}
                    </br>
                    <button class="button_login" type="submit" style="color: white; width:110px">Crear</button>
                    </form>    
                </div>
                <script>
                    var usuario = "{{user.id}}";
                    document.getElementById("blogGames").value = usuario;


                </script>
            </div>
        </div>
    </div>
</section>

{% endblock %}