{% extends "AppJuegos/padre.html" %}

{% load static %}

{% block menuModificable %}

<li class="active"> <a href="{% url 'Blog' %}">Blog</a></li>
<li> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>  

{% endblock %}

{% block contenidoModificable %}

<section class="space-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="position: absolute; top: 15%; left: 15%;">
                <span>{{post.fecha}} - Por: {{ post.autor.first_name }} {{post.autor.last_name }}</span>
                <h3 style="color: white">{{ post.titulo }}</h3>
                <p style="color: white" class="mb-4 justify">{{post.cuerpo}}</p> 
                <button class="button_login" style=" width:150px"> <a style="color: white" href="{% url 'EditarPost' post.pk %}">Editar Post</a> </button>
                <button class="button_login" style=" width:150px"> <a style="color: white" href="{% url 'EliminarPost' post.pk %}">Eliminar Post</a> </button>
            </div>
        </div>
    </div>
</section>

{% endblock %}