{% extends "AppJuegos/padre.html" %}

{% load static %}


{% block menuModificable %}
<li> <a href="{% url 'Blog' %}">Home</a></li>
<li> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>

{% endblock %}

{% block contenidoModificableLogo %}

<FONT SIZE=6 style="color: white; position: absolute; left: -80px;">Registro de nuevo usuario</FONT>
{% endblock %}

{% block contenidoModificable %}

<body>

    <div class="text-img">
        <figure><img src="{% static '/AppJuegos/images/img.png' %}" style="position:absolute; top: 15%; left: 50%; width:auto; height:auto;" alt="#"/></figure>
     </div>
     <!--
    <form method="POST">

        {% csrf_token %}

        <table>
    
            <h1 style="color: white; width: 350px;">Registro</h1>
            
            {{miFormulario.as_table}}
        
            </table>
            <br>
            <button class="button_login" type="submit" style="color: white; width:350px">Registrarse</button>

    </form>-->

    <section class="space-pt">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"  style="position: absolute; top: 15%; left: 15%;">
                    <div class="form-group">
                        <form method="post">
                            {% csrf_token%}
                            
                            {{ miFormulario.as_p}}
                            
                            </br>
                            <div class="d-flex flex-row-reverse">
                                
                                <button class="button_login" type="submit" style="color: white; width:200px">Registrase</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                                <button  class="button_login" style="width:200px"><a href="{% url 'Blog' %}" style="color: white;">Cancelar</a></button> 
                            </div>
                        </form>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </section>
    

</body>

{% endblock %}