{% extends "AppJuegos/padre.html" %}

{% load static %}

<!--Bloque modificable para el menu-->
{% block menuModificable %}

<li> <a href="{% url 'Juego' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li class="active"> <a href="{% url 'Consola' %}">Consolas</a> </li> 

{% endblock %}


<!--Bloque modificable para formularios y busqueda-->
{% block contenidoModificable %}
<FONT SIZE=6 style="color: white; position: absolute; top: 120px; left: 300px;">Consolas de {{compania}}</FONT>

{% if consolas %}

<ul style="position: absolute; top: 200px; left: 350px;">
{% for c in consolas %}

    <li><FONT SIZE=4 style="color: white">Consola: {{c.nombre}}</FONT></li>
    <li><FONT SIZE=4 style="color: white">Precio: ${{c.precio}}</FONT></li>
    <br>
{% endfor %}
</ul>
{% endif %}
{% endblock %}