{% extends "AppJuegos/padre.html" %}

{% load static %}

{% block titulo %}
Eliminar Post
{% endblock %}

{% block menuModificable %}

<li class="active"> <a href="{% url 'Blog' %}">Home</a></li>
<li> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>  

{% endblock %}

{% block contenidoModificableLogo %}

{% endblock %}

{% block contenidoModificable %}

<section class="space-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="position: absolute; top: 15%; left: 15%;">
                <div class="form-group">
                <form method="post">
                    {% csrf_token%}
                    </br>
                    <h3 style="color:white; width: auto;">¿Esta seguro que desea eliminar el Post <i>{{ post.titulo }}</i>?</h3>
                    </br>

                    <button class="button_login" style=" width:100px"> <a style="color: white">Eliminar</a> </button>
                    
                </form>
                <br>
                <button class="button_login" style=" width:100px"> <a style="color: white" href="{% url 'Blog' %}">Cancelar</a> </button>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}