{% extends "AppJuegos/padre.html" %}

{% load static %}

{% block menuModificable %}

<small><br/></small>
<li class="active"> <a style="text-align: left;" href="{% url 'Blog' %}">Home</a></li>
<li> <a style="text-align: left;" href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a style="text-align: left;" href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a style="text-align: left;" href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a style="text-align: left;" href="{% url 'About' %}">About</a> </li>  
{% if user.is_authenticated %}   
<li> <a style="text-align: left;" href="{% url 'CrearPost' %}">Crear Post</a> </li>  
{% endif %}  

{% endblock %}

{% block contenidoModificable %}

<section class="space-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="position: absolute; top: 15%; left: 15%;">
                <span>{{post.fecha}} - Por: {{ post.autor.username }}</span>
                <h2 style="color: white">{{ post.titulo }}</h2>
                <p style="color: white" class="mb-4 justify">{{post.cuerpo}}</p> 
                {%  if user.is_authenticated %}
                <button class="button_login" style=" width:150px"> <a style="color: white" href="{% url 'EditarPost' post.pk %}">Editar Post</a> </button>
                <button class="button_login" style=" width:150px"> <a style="color: white" href="{% url 'EliminarPost' post.pk %}">Eliminar Post</a> </button>
                {% endif %}
                <br/>
                <br/>
                <hr>
                <h3 style="color:white">Comentarios</h3>
                {% if not post.comentarios.all %}
                    No hay comentarios todavía {% if user.is_authenticated %}- <a href="{% url 'NuevoComentario' post.pk %}" style="color:lightblue">Crear uno!</a>{% endif %}
                {% else %}
                    {% for comentario in post.comentarios.all %}
                        <i>{{comentario.fechaComentario}}</i>
                        <br/>
                        <strong>{{comentario.titulo}}</strong> - Por: <i>{{comentario.user}}</i>
                        <br/>
                        {{comentario.cuerpo}}
                        <br/>
                        <br/>
                    {% endfor %}
                    {% if user.is_authenticated %}
                    <button class="button_login" style=" width:175px"> <a style="color: white" href="{% url 'NuevoComentario' post.pk %}">Nuevo comentario</a> </button>
                    {% endif %}
                {% endif %}
                <hr>
            </div>
        </div>
    </div>
</section>

{% endblock %}