{% extends "AppJuegos/padre.html" %}

{% load static %}

{% block titulo %}
Eliminar Consola
{% endblock %}

{% block menuModificable %}

<li class="active"> <a href="{% url 'Blog' %}">Blog</a></li>
<li> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>  

{% endblock %}

{% block contenidoModificableLogo %}

{% endblock %}

{% block contenidoModificable %}

<section class="space-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="position: absolute; top: 15%; left: 15%;">
                <div class="form-group">
                    <form method="post">
                        {% csrf_token%}
                        <h3 style="color:white; width: auto;">¿Esta seguro que desea eliminar la consola <i>{{ consola.nombre }}</i>?</h3>
                        <button class="button_login" style=" width:50px"> <a style="color: white">Si</a> </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="button_login" style=" width:50px"> <a style="color: white" href="{% url 'Consola' %}">No</a> </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}