{% extends "AppJuegos/padre.html" %}

{% load static %}

<!--Bloque modificable para el menu-->
{% block menuModificable %}

<li> <a href="{% url 'Blog' %}">Home</a></li>
<li> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li class="active"> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>  

{% endblock %}

{% block login%}
<div class="img-circular">
    <img height="40px" src="{{url}}" />
    <h3 style="color: white; position:absolute; top:15%; left:60%">Hola {{user.first_name}}!</h3>
</div>
{% endblock %}


{% block contenidoModificable %}

{% if object_list %}

<section class="space-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="position: absolute; top: 30%; left: 15%;">
                <p style="color: white" class="mb-4 justify">
                    <ul>
                        {% if user.is_authenticated %}
                        <button class="button_login" style=" width:150px"> <a style="color: white" href="{% url 'NuevaConsola' %}">Agregar Consola</a> </button>
                        
                        {% endif %}

                        {% for consola in object_list %}
                        </br>
                        </br>
                        <li>
                        <a href="{% url 'DetalleConsola' consola.pk %}" style="color:white"><b>{{ consola.nombre }}</b></a>
                        
                        </br>
                        Fabricante: {{consola.compania}}
                        </br>
                        Fecha de Lanzamiento: {{ consola.fechaLanzamiento }}
                        </li>

                         {% endfor %}
                    </br>
                    </ul>   
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1" style="color:lightgray">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}" style="color:lightgray">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" style="color:lightgray">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}" style="color:lightgray">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>

                </p> 
            </div>
        </div>
    </div>
</section>

{% else %}
<li><FONT SIZE=4 style="color: white; position: absolute; top: 200px; left: 350px" >No se encontraron consolas</FONT></li>
{% endif %}

<form action="/AppJuegos/consolas/buscar" method="GET" style="position:absolute; top: 15%; left: 16%">
    <br>
    <h3 style="color: white;">Buscar consola por compañía</h3>
    <input type="text" name="compania" id="compania" style= "width: 260px; height:auto;">
    <button class="button_login" type="submit" style="color: white; width:100px; height:auto">Buscar</button>


</form>


{% endblock %}

