{% extends "AppJuegos/padre.html" %}

{% load static %}

<!--Bloque modificable para el menu-->
{% block menuModificable %}
<li> <a href="{% url 'Blog' %}">Home</a></li>
<li> <a href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a href="{% url 'Jugador' %}">Jugadores</a> </li>
<li class="active"> <a href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a href="{% url 'About' %}">About</a> </li>
{% endblock %}


<!--Bloque modificable para formularios y busqueda-->
{% block contenidoModificable %}
<FONT SIZE=6 style="color: white; position: absolute; top: 120px; left: 300px;">Consolas encontrados</FONT>

{% if object_list %}

<ul style="position: absolute; top: 200px; left: 350px;">
{% for c in object_list %}
    <li><a href="{% url 'DetalleConsola' j.id %}" style="color:white"><FONT SIZE=5>{{ c.nombre }}</FONT></a>
    {% if user.is_authenticated %}
    <a style="color:lightblue" href="{% url 'EditarConsola' j.pk %}">Editar</a> 
    <a style="color:lightblue" href="{% url 'EliminarConsola' j.pk %}">Eliminar</a>
    {% endif %}
    <br>

{% endfor %}

</ul>
<ul style="position: absolute; top: 600px; left: 350px;">
</ul>
<div style="position:absolute; top: 90%; left: 20%" class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?nombre={{query}}&page=1" style="color:lightgray">&laquo; first</a>
            <a href="?nombre={{query}}&page={{ page_obj.previous_page_number }}" style="color:lightgray">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?nombre={{query}}&page={{ page_obj.next_page_number }}" style="color:lightgray">next</a>
            <a href="?nombre={{query}}&page={{ page_obj.paginator.num_pages }}" style="color:lightgray">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}

<li><FONT SIZE=4 style="color: white; position: absolute; top: 200px; left: 350px;" >No se encontraron consolas</FONT></li>

{% endif %} 
{% endblock %}