{% extends "AppJuegos/padre.html" %}

{% load static %}
{% block titulo %}
        Listado de Jugadores
{% endblock %}
<!--Bloque modificable para el menu-->
{% block menuModificable %}

<small><br/></small>
<li> <a style="text-align: left;" href="{% url 'Blog' %}">Home</a></li>
<li> <a style="text-align: left;" href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li class="active"> <a style="text-align: left;" href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a style="text-align: left;" href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a style="text-align: left;" href="{% url 'About' %}">About</a> </li>  
{% if user.is_authenticated %}   
<li> <a style="text-align: left;" href="{% url 'CrearPost' %}">Crear Post</a> </li>  
{% endif %}  

{% endblock %}

{% block contenidoModificable %}
<FONT SIZE=6 style="color: white; position: absolute; top: 120px; left: 250px;">Jugadores</FONT>

{% if object_list %}

<ul style="position: absolute; top: 200px; left: 250px;">

    {% for j in object_list %}

    <li><a style="color:white">
        {% with last_image=j.avatar_set.last %}
        {% if last_image %}
        <h2 style="color:white"> <img src="{{ last_image.imagen.url }}" class="" style="border-radius: 50%; max-width: 40px;">&nbsp&nbsp<FONT SIZE=4>{{  j.username }}</FONT></a></h2>
        {% else %}
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<FONT SIZE=4>{{ j.username }}</FONT></a>
        <br/>
        {% endif %}
        {% endwith %}
        
    <br>
    {% endfor %}
</ul>

<div style="position:absolute; top: 90%; left: 20%" class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" style="color:lightgray">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" style="color:lightgray">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" style="color:lightgray">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" style="color:lightgray">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<li><FONT SIZE=4 style="color: white; position: absolute; top: 200px; left: 350px" >No se encontraron juegos</FONT></li>
{% endif %}


{% endblock %}