{% extends "AppJuegos/padre.html" %}

{% load static %}


{% block contenidoModificableLogo %}

{% endblock %}

{% block menuModificable %}

<small><br/></small>
<li> <a style="text-align: left;" href="{% url 'Blog' %}">Home</a></li>
<li> <a style="text-align: left;" href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a style="text-align: left;" href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a style="text-align: left;" href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a style="text-align: left;" href="{% url 'About' %}">About</a> </li>  
{% if user.is_authenticated %}   
<li> <a style="text-align: left;" href="{% url 'CrearPost' %}">Crear Post</a> </li>  
{% endif %}  

{% endblock %}

{% block contenidoModificable %}

<body>

    <form method="POST">

    {% csrf_token%}

    <table style="width: 330;">
    
        <h1 style="color: white;">Iniciar sesión</h1> 
    
        {{miFormulario.as_table}}
        
        </table>
        <br>
        <button class="button_login" type="submit" style="color: white; width:330px">Login</button>

    </form>

</body>


{% endblock %}