{% extends "AppJuegos/padre.html" %}

{% load static %}


{% block contenidoModificableLogo %}

{% endblock %}

{% block menuModificable %}

<small><br/></small>
<li> <a style="text-align: left;" href="{% url 'Blog' %}">Home</a></li>
<li> <a style="text-align: left;" href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a style="text-align: left;" href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a style="text-align: left;" href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a style="text-align: left;" href="{% url 'About' %}">About</a> </li>  
{% if user.is_authenticated %}   
<li> <a style="text-align: left;" href="{% url 'CrearPost' %}">Crear Post</a> </li>  
{% endif %}  

{% endblock %}

{% block contenidoModificable %}

<head>
    <meta http-equiv="refresh" content="3;url={% url 'Blog' %}" />
</head>

<body>

    <h1 style="color: white"> Te has deslogueado correctamente. Redirigiendo en 3 segundos...</h1>

</body>


{% endblock %}