{% extends "AppJuegos/padre.html" %}

{% load static %}


{% block menuModificable %}

<small><br/></small>
<li> <a style="text-align: left;" href="{% url 'Blog' %}">Home</a></li>
<li> <a style="text-align: left;" href="{% url 'ListaJuegos' %}">Juegos</a> </li>
<li> <a style="text-align: left;" href="{% url 'Jugador' %}">Jugadores</a> </li>
<li> <a style="text-align: left;" href="{% url 'Consola' %}">Consolas</a> </li>
<li> <a style="text-align: left;" href="{% url 'About' %}">About</a> </li>  
{% if user.is_authenticated %}   
<li> <a style="text-align: left;" href="{% url 'CrearPost' %}">Crear Post</a> </li>  
{% endif %}  

{% endblock %}

{% block contenidoModificableLogo %}

<FONT SIZE=6 style="color: white; position: absolute; left: -80px;">Registro de nuevo usuario</FONT>
{% endblock %}

{% block contenidoModificable %}

<body>

    <section class="space-pt">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"  style="position: absolute; top: 15%; left: 15%;">
                    <div class="form-group">
                        <form method="post">
                            {% csrf_token%}
                            
                            {{ miFormulario.as_p}}
                            
                            </br>
                            <div class="d-flex flex-row-reverse">
                                
                                <button class="button_login" type="submit" style="color: white; width:200px">Registrase</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                                <button  class="button_login" style="width:200px"><a href="{% url 'Blog' %}" style="color: white;">Cancelar</a></button> 
                            </div>
                        </form>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </section>
    

</body>

{% endblock %}